@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplicationTask15.Models.Entities.Country
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <dl>
        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Code</dt>
        <dd>@Model.Code</dd>
    </dl>
    <a asp-controller="Countries" asp-action="Index">Go back</a>
</body>
</html>
